#cracker{
    background-color:coral;
}
#foodcomplain{
    background-color: coral;
    font-size: 30px;
}
#special p{
    font-size: 30px;
}
#special h3{
    font-size: 45px;
}
#foodgoqu{
    font-size: 30px;
}
#rangolipara p{
    font-size: 30px;
}
#rangolipara h3{
    font-size: 45px;
}
#myname{
    font-size: 45px;
    font-style: italic;
}
#cracker p{
    font-size: 30px;
}
#cracker h3{
    font-size: 45px;
}
#foodtitle h3{
    font-size: 45px;
}